
<svg xmlns='http://www.w3.org/2000/svg' class='hidden'>
  <symbol id='arrow-right-short' viewBox='0 0 16 16'>
    <path fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z' />
  </symbol>
</svg>

<%= render 'home/main/header_block' %>

<div class='b-example-divider'></div>

<div class='my-5'>
  <div class='p-5 text-center'>
    <div class='max-w-[960px] py-5 mx-auto'>
      <%= render 'home/main/sample' %>
    </div>
  </div>
</div>

<div class='b-example-divider'></div>
