<div class='container bg-white my-5'>
  <div class='alert alert-success' role='alert'>
    <h4 class='alert-heading'>Well done!</h4>
    <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
    <hr>
    <p class='mb-0'>Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div>
  <div class='alert alert-danger' role='alert'>
    <h4 class='alert-heading'>Oh snap!</h4>
    <p>Change a few things up and try submitting again.</p>
    <hr>
    <p class='mb-0'>Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div>
  <div class='alert alert-warning' role='alert'>
    <h4 class='alert-heading'>Warning!</h4>
    <p>Change a few things up and try submitting again.</p>
    <hr>
    <p class='mb-0'>Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div>
  <div class='alert alert-info' role='alert'>
    <h4 class='alert-heading'>Information!</h4>
    <p>Change a few things up and try submitting again.</p>
    <hr>
    <p class='mb-0'>Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div>
</div>