<div class='container bg-white my-5'>
  <div class='row row-cols-1 row-cols-md-3 g-4'>
    <div class='col'>
      <div class='card h-100 border-primary mb-3'>
        <div class='card-header'>Header</div>
        <div class='card-body text-primary'>
          <h5 class='card-title'>Primary card title</h5>
          <p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class='col'>
      <div class='card h-100 border-warning mb-3'>
        <div class='card-header'>Header</div>
        <div class='card-body text-warning'>
          <h5 class='card-title'>Warning card title</h5>
          <p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class='col'>
      <div class='card h-100 border-info mb-3'>
        <div class='card-header'>Header</div>
        <div class='card-body text-info'>
          <h5 class='card-title'>Info card title</h5>
          <p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class='col'>
      <div class='card h-100 border-success mb-3'>
        <div class='card-header'>Header</div>
        <div class='card-body text-success'>
          <h5 class='card-title'>Success card title</h5>
          <p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class='col'>
      <div class='card h-100 border-danger mb-3'>
        <div class='card-header'>Header</div>
        <div class='card-body text-danger'>
          <h5 class='card-title'>Danger card title</h5>
          <p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</div>