<svg xmlns='http://www.w3.org/2000/svg' class='hidden'>
  <symbol id='bi-caret-down' fill='currentColor' viewBox='0 0 16 16'>
    <path d='M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659'/>
  </symbol>
  <symbol id='bi-caret-up' fill='currentColor' viewBox='0 0 16 16'>
    <path d='M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659'/>
  </symbol>
</svg>

<div class='container px-6 max-w-7xl mx-auto bg-white my-12'>
  <div class='flex justify-center'>
    <div class='w-full max-w-7xl'>
      <div class='p-5 border border-gray-200 bg-white shadow-lg rounded-lg overflow-hidden'>
        <!-- Card Body -->
        <div class='overflow-x-auto'>
          <table class='min-w-full table-auto mb-0'>
            <thead>
              <tr class='border-b'>
                <th class='px-4 py-2 text-left font-medium text-gray-700'></th>
                <th class='px-4 py-2 text-left font-medium text-gray-700'>Product Detail Views</th>
                <th class='px-4 py-2 text-left font-medium text-gray-700'>Unique Purchases</th>
                <th class='px-4 py-2 text-left font-medium text-gray-700'>Quantity</th>
                <th class='px-4 py-2 text-left font-medium text-gray-700'>Product Revenue</th>
                <th class='px-4 py-2 text-left font-medium text-gray-700'>Avg. Price</th>
              </tr>
            </thead>
            <tbody>
              <tr class='border-b'>
                <th class='px-4 py-2 text-left text-gray-700'>Value</th>
                <td class='px-4 py-2'>18,492</td>
                <td class='px-4 py-2'>228</td>
                <td class='px-4 py-2'>350</td>
                <td class='px-4 py-2'>$4,787.64</td>
                <td class='px-4 py-2'>$13.68</td>
              </tr>
              <tr class='border-b'>
                <th class='px-4 py-2 text-left text-gray-700'>Percentage change</th>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    -48.8%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    14.0%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    46.4%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    29.6%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    -11.5%
                  </div>
                </td>
              </tr>
              <tr class='border-b'>
                <th class='px-4 py-2 text-left text-gray-700'>Average</th>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    -17,654
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    28
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    111
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    $1,092.72
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    $-1.78
                  </div>
                </td>
              </tr>
              <tr class='border-b'>
                <th class='px-4 py-2 text-left text-gray-700'>Buy-to-details</th>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    -48.8%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    14.0%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    46.4%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    29.6%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    -11.5%
                  </div>
                </td>
              </tr>
              <tr class='border-b'>
                <th class='px-4 py-2 text-left text-gray-700'>Sales</th>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    -17,654
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    28
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    111
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    $1,092.72
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    $-1.78
                  </div>
                </td>
              </tr>
              <tr class='border-b'>
                <th class='px-4 py-2 text-left text-gray-700'>Website traffic</th>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    -48.8%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    14.0%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    46.4%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    29.6%
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    -11.5%
                  </div>
                </td>
              </tr>
              <tr>
                <th class='px-4 py-2 text-left text-gray-700'>Clickthrough</th>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    -17,654
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    28
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    111
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-green-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-up'></use>
                    </svg>
                    $1,092.72
                  </div>
                </td>
                <td class='px-4 py-2'>
                  <div class='flex text-red-600'>
                    <svg class='bi mr-1' width='24' height='24'>
                      <use xlink:href='#bi-caret-down'></use>
                    </svg>
                    $-1.78
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
