<svg xmlns='http://www.w3.org/2000/svg' class='hidden'>
  <symbol id='bi-arrow-down' fill='currentColor' viewBox='0 0 16 16'>
    <path fill-rule='evenodd' d='M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1'/>
  </symbol>
  <symbol id='bi-arrow-up' fill='currentColor' viewBox='0 0 16 16'>
    <path fill-rule='evenodd' d='M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5'/>
  </symbol>
</svg>

<div class='container px-6 max-w-7xl mx-auto bg-white my-12'>
  <div class='border border-gray-200 p-6 bg-white shadow-md rounded-lg'>
    <h4 class='text-2xl font-semibold mb-1'>List of active users</h4>
    <p class='text-gray-600'>Here is the list of active users in the system.</p>
    <div class='mt-8 overflow-x-auto'>
      <table class='min-w-full divide-y divide-gray-200'>
        <thead>
          <tr>
            <th class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>User</th>
            <th class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>Product</th>
            <th class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>Sale</th>
            <th class='px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider'>Status</th>
          </tr>
        </thead>
        <tbody class='bg-white divide-y divide-gray-200'>
          <tr>
            <td class='px-6 py-4 whitespace-nowrap'>Hitesh Chauhan</td>
            <td class='px-6 py-4 whitespace-nowrap'>Engine</td>
            <td class='px-6 py-4 whitespace-nowrap'>
              <div class='flex text-red-600 items-center'>
                18.76%
                <svg class='bi ml-1' width='16' height='16'>
                  <use xlink:href='#bi-arrow-down'></use>
                </svg>
              </div>
            </td>
            <td class='px-6 py-4 whitespace-nowrap'><span class='inline-flex items-center px-2 py-1 text-xs font-semibold text-white bg-red-600 rounded-lg'>Pending</span></td>
          </tr>
          <tr>
            <td class='px-6 py-4 whitespace-nowrap'>Samso Palto</td>
            <td class='px-6 py-4 whitespace-nowrap'>Brakes</td>
            <td class='px-6 py-4 whitespace-nowrap'>
              <div class='flex text-red-600 items-center'>
                11.06%
                <svg class='bi ml-1' width='16' height='16'>
                  <use xlink:href='#bi-arrow-down'></use>
                </svg>
              </div>
            </td>
            <td class='px-6 py-4 whitespace-nowrap'><span class='inline-flex items-center px-2 py-1 text-xs font-semibold text-white bg-yellow-400 rounded-lg'>In progress</span></td>
          </tr>
          <tr>
            <td class='px-6 py-4 whitespace-nowrap'>Tiplis mang</td>
            <td class='px-6 py-4 whitespace-nowrap'>Window</td>
            <td class='px-6 py-4 whitespace-nowrap'>
              <div class='flex text-red-600 items-center'>
                35.00%
                <svg class='bi ml-1' width='16' height='16'>
                  <use xlink:href='#bi-arrow-down'></use>
                </svg>
              </div>
            </td>
            <td class='px-6 py-4 whitespace-nowrap'><span class='inline-flex items-center px-2 py-1 text-xs font-semibold text-white bg-blue-400 rounded-lg'>Fixed</span></td>
          </tr>
          <tr>
            <td class='px-6 py-4 whitespace-nowrap'>Pter parker</td>
            <td class='px-6 py-4 whitespace-nowrap'>Head light</td>
            <td class='px-6 py-4 whitespace-nowrap'>
              <div class='flex text-green-600 items-center'>
                22.00%
                <svg class='bi ml-1' width='16' height='16'>
                  <use xlink:href='#bi-arrow-up'></use>
                </svg>
              </div>
            </td>
            <td class='px-6 py-4 whitespace-nowrap'><span class='inline-flex items-center px-2 py-1 text-xs font-semibold text-white bg-green-600 rounded-lg'>Completed</span></td>
          </tr>
          <tr>
            <td class='px-6 py-4 whitespace-nowrap'>Ankit Dave</td>
            <td class='px-6 py-4 whitespace-nowrap'>Back light</td>
            <td class='px-6 py-4 whitespace-nowrap'>
              <div class='flex text-green-600 items-center'>
                28.05%
                <svg class='bi ml-1' width='16' height='16'>
                  <use xlink:href='#bi-arrow-up'></use>
                </svg>
              </div>
            </td>
            <td class='px-6 py-4 whitespace-nowrap'><span class='inline-flex items-center px-2 py-1 text-xs font-semibold text-white bg-yellow-400 rounded-lg'>In progress</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
