<div class='container bg-white my-5'>
  <div class='card'>
    <div class='card-header'>
      <h3 class='card-title'>User Permissions</h3>
    </div>
    <div class='card-body'>
      <form accept-charset='utf-8'>
        <div class='mb-3'>
          <label for='email' class='form-label text-uppercase'><small>Dashboard</small></label>
          <div class='form-check form-switch'>
            <input class='form-check-input' type='checkbox' id='switch1' />
            <label class='form-check-label' for='switch1'>Open dashboard page</label>
          </div>
        </div>
        <div class='mb-3'>
          <label for='email' class='text-uppercase'><small>Users</small></label>
          <div class='form-check form-switch'>
            <input class='form-check-input' type='checkbox' id='switch2' />
            <label class='form-check-label' for='switch2'>Add User</label>
          </div>
          <div class='form-check form-switch'>
            <input class='form-check-input' checked type='checkbox' id='switch3' />
            <label class='form-check-label' for='switch3'>Edit User</label>
          </div>
          <div class='form-check form-switch'>
            <input class='form-check-input' type='checkbox' id='switch4' />
            <label class='form-check-label' for='switch4'>Delete User</label>
          </div>
        </div>
        <div class='mb-3'>
          <label for='email' class='text-uppercase'><small>Roles &amp; Permissions</small></label>

          <div class='form-check form-switch'>
            <input class='form-check-input' type='checkbox' id='switch5' />
            <label class='form-check-label' for='switch5'>Add Roles</label>
          </div>
          <div class='form-check form-switch'>
            <input class='form-check-input' checked type='checkbox' id='switch6' />
            <label class='form-check-label' for='switch6'>Edit Roles</label>
          </div>
          <div class='form-check form-switch'>
            <input class='form-check-input' type='checkbox' id='switch7' />
            <label class='form-check-label' for='switch7'>Delete Roles</label>
          </div>
          <div class='form-check form-switch'>
            <input class='form-check-input' type='checkbox' id='switch8' />
            <label class='form-check-label' for='switch8'>Update Permissions</label>
          </div>
        </div>
      </form>
    </div>
    <div class='card-footer'>
      <button type='submit' class='btn btn-success'><i class='bi bi-check'></i> Save</button>
      <a href='#' class='btn btn-secondary'><i class='bi bi-ban'></i> Cancel</a>
    </div>
  </div>
</div>
