<% if flash.now[:error].present? %>
  <div class='is-error border bg-red-100 text-red-800 px-3 py-2 rounded-lg border-red-200'>
    <%= flash.now[:error] %>
  </div>
<% elsif flash.now[:success].present? %>
  <div class='border bg-green-100 text-green-800 px-3 py-2 rounded-lg border-green-200'>
    <%= flash.now[:success] %>
  </div>
<% end %>
