<% wrapper_frame = defined?(locals) ? locals[:wrap_frame] : (defined?(wrap_frame) ? wrap_frame : 'sample_post_test_form2') %>
<% partial_name_render = defined?(locals) ? locals[:partial_name] : (defined?(partial_name) ? partial_name : 'test_validate_form2') %>

<%= turbo_frame_tag wrapper_frame do %>
  <div class='alert alert-info my-4'>
    <%= render 'home/partials/test_validate_form', locals: {
      partial_name: partial_name_render,
      wrap_frame: wrapper_frame,
      data_options: { validate: true, 'show-modal-when-response': 'true' }
    } %>
  </div>
<% end %>
