
<nav class="border-gray-200 bg-gray-100">
  <div class="flex flex-wrap items-center mx-auto p-4 justify-between lg:justify-start">
    <%= link_to root_path, class: 'flex items-center space-x-3 rtl:space-x-reverse me-5' do %>
      <span class="self-center text-2xl font-semibold whitespace-nowrap">Rails v7</span>
    <% end %>
    <button
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbarNav"
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
      </svg>
    </button>
    <div id="navbarNav" class="hidden lg:block w-full lg:w-auto max-h-0 lg:max-h-screen overflow-hidden duration-500">
      <ul class="mt-2 lg:mt-0 flex flex-col p-0 border border-gray-100 rounded-lg lg:flex-row lg:space-x-4 lg:border-0">
        <% user_menus.each do |menu| %>
          <li>
            <% url = get_menu_link(menu[:id]) %>
            <% is_active = is_current_page?(menu[:name], url) %>
            <%= link_to menu[:name], url,
              class:"block py-2 px-3 lg:p-0 rounded #{is_active ? 'text-white bg-blue-700 lg:bg-transparent lg:text-blue-700' : 'text-gray-900 hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700'}",
              'aria-current': is_active ? 'page' : nil,
              data: { turbo_frame: '_top' }
            %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
